.sidenav {
  width: 250px;
}

.nav {

  mat-list-item,
  a {
    border: none;
    box-sizing: border-box;
    border-radius: 40px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      //border-left: solid 3px #3f51b5;
      background-color: #e9e7eb; 
    }
  }
}