<app-nav-bar></app-nav-bar>

<mat-sidenav-container autosize *ngIf="!isLoading$()">
  <mat-sidenav
    #sidenav
    fixedInViewport="true"
    mode="side"
    opened="{{ true }}"
  >
    <app-sports-menu
      [isExpanded]="true"
    ></app-sports-menu>
  </mat-sidenav>

  <mat-sidenav-content [style.margin-left.px]="!true ? 60 : 250">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<div *ngIf="isLoading$()" class="flex justify-center items-center h-screen">
  <mat-spinner></mat-spinner>
</div>






































<!-- <router-outlet /> -->


<!-- <mat-slider>
  <input matSliderThumb>
</mat-slider>


<h1 class="text-3xl font-bold underline">
  Hello world!
</h1> -->
